
.tab {
    min-height: 100px;
}


/* Style the buttons that are used to open the tab content */
.tab  {
    background-color: inherit;
    color: var(--text-primary);
    font-family: 'Tektur', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 14px 16px;
    transition: all 400ms;
    height: 100%;
    margin-bottom: 3rem;
}

.tab .tablinks{
    font-size: clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
}

.tab span.line{
    display: block;
    width: 95%;
    background-color: var(--text-primary);
    border: solid 3px var(--text-primary);
    border-radius: 3px;
    margin: 1rem 0;
}

.tab .tabcontent {
    display: flex;
    gap: 2%;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 3rem;
    padding: 2rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tab .tabcontent:has(.card.hidden){
    justify-content: flex-start;
}


.card{
    margin : 8px;
    position: relative;
}

.card.hidden{
    display: none;
}

.card.show{
    display: none;
}

.card .card-image{
    width: clamp(2rem, 0.522rem + 6.275vw, 5rem);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card-image:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.card > .tooltiptext {
    visibility: hidden;
    width: 25vw;
    min-height: 250px;
    background-color: rgb(86, 86, 86);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px 5px;
    position: absolute;
    z-index: 101;
    top: -25px;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 3px var(--text-primary);
}
  
.card > .tooltiptext::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgba(255, 255, 255) transparent transparent;
}

.card-image:hover + .tooltiptext {
    visibility: visible;
}

.tooltiptext .tooltip-name{
    font-family: 'Tektur Condensed';
    font-size: 1.5rem;
    font-weight: bolder;
}

.tooltiptext .tooltip-description{
    font-size: 1rem;
    font-weight: lighter;
}

.tooltiptext .tooltip-small-line{
    border: solid 3px var(--border-color);
    border-radius: 6px;
    width: 85%;
    margin: 1.5rem 0 0.75rem 0;
}

.tooltiptext .tooltip-line{
    border: solid 3px var(--border-color);
    border-radius: 6px;
    width: 95%;
    margin: 0.75rem 1rem;
}

.tooltiptext .tooltip-effect{
    font-family: 'Tektur Condensed SemiBold';
    font-weight: 600;
}

@media screen and (min-width: 600px) {

    .card > .tooltiptext {
        width: 200px;
        min-height: 200px;
        top: -5px;
        left: 110%;
    }
}

@media screen and (min-width: 1000px) {
    .card > .tooltiptext{
        width: 275px;
        min-height: 275px;
        top: 20px;
        left: 120%;
    }
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}